.cards {
  min-width: 200px;
  max-width: 400px;
  background: lightcyan;
  color: black;
  margin: 2rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  align-items: center;
  font-weight: bold;
}
