button {
  /* padding: 0.2rem 1rem; */
  height: 2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: black;
  transition: all 0.25s;
  width: 100%;
  background-color: #ffc107;
  box-shadow: none;
  border: none;
}

.primary {
  background-color: rgb(216, 49, 49);
  color: white;
}

.secondary {
  background-color: #28a745;
  color: white;
}
