#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
button {
  margin-bottom: 5px;
  background-color: lightcoral;
  color: white;
  margin: 10px;
}
#employee {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
